<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style_admin.css">
    <link rel="shortcut icon" href="logo.lux.jpeg">
</head>

<body>
    <div class="container">
        <br>
        <p><b>Buscar Vehículo</b></p>
        <br>
        <form action="#">
            <label for="buscapor">Buscar por</label>
            <select name="buscapor" id="buscapor">
                <option value="campo" selected>- Elija una opción -</option>
                <option value="marca">Marca</option>
                <option value="modelo">Modelo</option>
                <option value="motor">Motor</option>
                <option value="color">Color</option>
            </select>

            <select name="buscar_value" id="buscar_value">
                <option value="valor" selected>- Elija una opción -</option>
            </select>
            <button class="btn">Buscar</button>
            <button class="btn">Listar Stock</button>
        </form>
        <br>

        <div>
            <button class="btn" onclick="window.location.href='nuevo.html'">Nuevo Vehíchulo</button>
        </div>

        <table class="tabla">
            <tr style="font-weight:bold;">
                <td>Código</td>
                <td>Cantidad</td>
                <td>Marca</td>
                <td>Modelo</td>
                <td>Motor</td>
                <td>Potencia(CV)</td>
                <td>Velocidad(km/h)</td>
                <td>Peso(kg)</td>
                <td>Color</td>
                <td colspan="2">Acciones</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><button onclick="window.location.href='modificar.html'">Modificar</button></td>
                <td><button>Eliminar</button></td>
            </tr>

        </table>
    </div>
</body>

</html>