<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style_admin.css">
    <link rel="shortcut icon" href="logo.lux.jpeg">
    <title>Modificar Vehíchulo></title>
</head>

<body>
    <div class="container_form">
        <p><b>Modificar Vehículo</b></p><br>
        <form action="#" class="form">
            <label for="marca">Marca</label>
            <input type="text" name="marca" id="marca" placeholder="Data traída de la DB">

            <label for="modelo">Modelo</label>
            <input type=" text" name="modelo" id="modelo" placeholder="Data traída de la DB">

            <label for="motor">Motor</label>
            <input type="text" name="motor" id="motor" placeholder="Data traída de la DB">

            <label for="potencia">Potencia (CV)</label>
            <input type="text" name="potencia" id="potencia" placeholder="Data traída de la DB">

            <label for="velocidad">Velocidad Máxima (km/h)</label>
            <input type="text" name="velocidad" id="velocidad" placeholder="Data traída de la DB">

            <label for="peso">Peso (kg)</label>
            <input type="int" name="peso" id="peso" placeholder="Data traída de la DB">

            <label for="">Color</label>
            <input type="text" name="color" id="color" placeholder="Data traída de la DB">

            <label for="cantidad">Cantidad</label>
            <input type="number" name="cantidad" id="cantidad" placeholder="Data traída de la DB">
            
            <button class="btn" type="submit" name="nuevo_vehiculo" id="nuevo_vehiculo">Modificar
                Vehíchulo</button>
        </form>
        <button class="btn" onclick="window.location.href='index.html'">Volver</button>
    </div>

</body>

</html>